.siteTitle{
    top: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 60px;
    color: #333;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.7); 
    margin-top: 80px;
    margin-left: 23px;
}