.vocalLesson{
    margin-top: 60px;
}

.vocalLessonTitle{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.vocalTeacherName{
    align-self: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.akemiImg{
    height: 40%;
    width: 40%;
    align-self: center;
    margin-bottom: 10px;
    max-height: 200px;
    max-width: 200px;
}

.lessonImg{
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 400px;
    max-width: 400px;
}

.vocalDescriptionUpper{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.vocalDescriptionUpperText{
    align-self: center;
    margin-top: 10px;
    font-size: 20px;
}

.vocalDescriptionMiddle{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.lessonDescriptionWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.lessonDescriptionTitle{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.lessonDescription{
    align-self: center;
    font-size: 20px;
    margin-top: 10px;
}

.priceTitle{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.priceTitleText{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.priceList{
    font-size: 20px;
    margin-top: 0px;
}

.trialLesson{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.trialLessonDescription{
    font-weight: bold;
    font-size: 20px;
}

.vocalAttractive{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.vocalAttractiveTitle{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}

.vocalAttractiveTitleText{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.LessonContentsTitleSubText{
    align-self: center;
}

.LessonContentsDesctiptionUpper{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.LessonContentsDesctiptionMiddle{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.LessonContentsDesctiptionBottom{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.LessonContentsDesctiptionText{
    align-self: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.vocalDescriptionBottom{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.vocalDescriptionBottomText{
    align-self: center;
    font-size: 20px;
    margin-bottom: 30px;
}