.HomeDescription{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.homeDescriptionText{
    align-self: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
}