.music-lesson {
    position: absolute;
    top: 60%;
}

.celloLessonWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.celloLessonWrapperMobile{
  display: flex;
  flex-direction: column;
  align-items: center;
}