.home{
    display: flex;
    flex-direction: column;
}
.homeContents{
    display: flex;
    flex-direction: column; 
}

.homeDecCriptionContents{
    margin-top: 80px;
}

.homeDecCriptionContentsMobile{
    margin-top: 10px;
}