/* スマホ向けスタイル */
@media (max-width: 480px) {
    .message {
        top: 90%;
        font-size: 1.0em;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .subMessage {
        top: 150%;
        font-size: 1em;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    body {
        height: 60vh;
    }
}
body {
    background-image: url("../../../public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 100%;
    width: auto;
    height: 400px;
  }

.message {
    position: absolute;
    top: 30%;
    left: 16%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px azure;
}

.subMessage {
    position: absolute;
    top: 60%;
    left: 10%;
}

/* タブレットとスマホの共通スタイル */
@media (max-width: 1024px) {
    .message {
        top: 25%;
        font-size: 1.0em;
    }

    .subMessage {
        top: 50%;
        font-size: 1.2em;
    }

    body {
        height: 80vh; /* 背景の高さを調整 */
    }
}
