.priceTableWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  
  .priceTableWrapperMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }