.celloLesson{
    margin-top: 60px;
}

.celloLessonTitle{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.celloTeacherName{
    align-self: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.toruImg{
    height: 40%;
    width: 40%;
    align-self: center;
    margin-bottom: 10px;
    max-height: 200px;
    max-width: 200px;
}

.celloDescriptionUpper{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.celloDescriptionUpperText{
    align-self: center;
    margin-top: 10px;
    font-size: 20px;
}

.celloDescriptionMiddle{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.lessonDescriptionWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.lessonDescriptionTitle{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.lessonDescription{
    align-self: center;
    font-size: 20px;
}

.priceTitle{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.priceTitleText{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.priceList{
    font-size: 20px;
    margin-top: 0px;
    margin-right: 20px;
}

.trialLesson{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items: center;
}
.trialLessonDescription{
    font-weight: bold;
    font-size: 10px;
}

.lessonContents{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.LessonConttentsTitle{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.LessonContentsTitleText{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.LessonContentsTitleSubText{
    align-self: center;
}

.LessonContentsDesctiptionUpper{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.LessonContentsDesctiptionMiddle{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.LessonContentsDesctiptionBottom{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.LessonContentsDesctiptionText{
    align-self: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.celloDescriptionBottom{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.celloDescriptionBottomText{
    align-self: center;
    font-size: 20px;
    margin-bottom: 30px;
}