.celloLesson{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    width: 90%;
}

.celloLessonTitle{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.celloTeacherName{
    align-self: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.toruImg{
    height: 50%;
    width: 50%;
    align-self: center;
    margin-bottom: 10px;
    max-height: 300px;
    max-width: 300px;
}
.lessonImg{
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 400px;
    max-width: 400px;
}

.celloDescriptionUpper{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.celloDescriptionUpperText{
    margin-top: 10px;
    font-size: 20px;
}

.celloDescriptionMiddle{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.lessonDescriptionWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.lessonDescriptionTitle{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.lessonDescription{
    align-self: center;
    font-size: 20px;
}

.priceTitle{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.priceTitleText{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.priceList{
    font-size: 20px;
    margin-top: 0px;
    margin-right: 20px;
}

.celloPriceTableWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.celloTrialLesson{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.celloTrialLessonDescription{
    font-weight: bold;
    font-size: 20px;
}

.lessonContents{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.LessonConttentsTitle{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.LessonContentsTitleText{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.LessonContentsTitleSubText{
    align-self: center;
}

.LessonContentsDesctiptionUpper{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.LessonContentsDesctiptionMiddle{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.LessonContentsDesctiptionBottom{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.LessonContentsDesctiptionText{
    align-self: center;
    font-size: 20px;
}

.celloDescriptionBottom{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.celloDescriptionBottomText{
    font-size: 20px;
    margin-bottom: 10px;
}

.visitLessonNote{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.visitLessonNoteDescription{
    font-size: 20px;
}